name: Releases

on: 
  push:
    tags:
    - '*'

jobs:  
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8  

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - uses: ncipollo/release-action@v1
      with:
        artifacts: "build/libs/*.jar"
        bodyFile: ""
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish to Registry
      uses: HurricanKai/Publish-Docker-Github-Action@master
      with:
        name: criteord/cassandra_exporter
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile 
        tags: "latest,${{GITHUB_REF##*/}}"
